<div class="row">
  <div class="col-md-0"></div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="description">Add a New Quote</label>
      <textarea class="form-control" id="newquote" placeholder="Write Your Quote Here..."rows="4" required [(ngModel)]="newQuote"></textarea>
  <br>
      <a type="submit" class="btn btn-submit" style="color: blue" (click)="addQuote()"><strong>Add Quote</strong></a>
    </div>
  </div>
  <div class="col-md-6">
    <p><strong>This is a list of All Quotes</strong></p>
    <p class="life-container" *ngFor="let quote of quotes">
      {{ quote }}
    </p>
  </div>
  <div class="col-md-0"></div>
</div>
<p>

</p>
