#Title {
  color: orange;
  font-size: 3em;
  margin-top: 25px;
  font-family: 'Gamja Flower', cursive;
  text-align: center;

}

#chant {
  color: black;
  font-family: 'Gamja Flower', cursive;
  font-size: 30px;
  font-weight: lighter;
  text-align: center;
  padding-left: 40px;
  margin-left: 50px;
}

.btn btn-submit {
  color: blue;
  margin-left: 50px;
  float: left;
}

.row {
  /*background-image: url("assets/ground.jpeg");*/
  background-color: #bad6dd;
  margin-left: 70px;
  margin-right: 70px;
}
